{{{appDescriptionWithNewLines}}}

### Authorization

{{^authMethods}}
    All endpoints do not require authorization.
{{/authMethods}}
{{#authMethods}}
{{#first}}
Authentication schemes defined for the API:
{{/first}}

{{name}}
{{#isApiKey}}
: **Type**: API key
: **API key parameter name**: {{keyParamName}}
: **Location**: {{#isKeyInQuery}}URL query string{{/isKeyInQuery}}{{#isKeyInHeader}}HTTP header{{/isKeyInHeader}}
{{/isApiKey}}
{{#isBasicBasic}}
: **Type**: HTTP basic authentication
{{/isBasicBasic}}
{{#isBasicBearer}}
: **Type**: HTTP Bearer Token authentication{{#bearerFormat}} ({{{.}}}){{/bearerFormat}}
{{/isBasicBearer}}
{{#isHttpSignature}}
: **Type**: HTTP signature authentication
{{/isHttpSignature}}
{{#isOAuth}}
: **Type**: OAuth
: **Flow**: {{flow}}
: **Authorization URL**: {{authorizationUrl}}
: **Scopes**: {{^scopes}}N/A{{/scopes}}
{{#scopes}}  - {{scope}}: {{description}}
{{/scopes}}
{{/isOAuth}}
{{/authMethods}}